{% extends 'FAM/base_site/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="sign-up-body" align="center">
  <br>
  </br>
  <br>
  </br>

  <h1><font size="18">Create an Account</font></h1>

  <form method="post">
    {% csrf_token %}
    <div class = 'row'>
      {{ form.first_name }} {{ form.last_name }}
    </div>
    <div class = 'row'>
      {{ form.email.errors }}
      {{ form.email }}
    </div>
    <div class = 'row'>
      {{ form.password1.errors }}
      {{ form.password1 }}
    </div>
    <div class = 'row'>
      {{ form.password2.errors }}
      {{ form.password2 }}
    </div>
    <button style="background-color:green;color:white;border:0" type="submit">Sign Up</button>
  </form>

</div>

{% endblock %}
