{% extends 'FAM/base.html' %}

{% block content %}
</br>
</br>

<form class = "site-form" action = "{% url 'browse_asset' %}" method="post">
  <input type="text" name="q" placeholder="Search stocks and cryptocurrencies..." id="id_q" value="{{ query }}"/>
  {% csrf_token %}
  <input type="submit" value="Search" />
</form>
</br>
{% if asset != None %}
  <div style="height:300;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;">
    {{ graph|safe }}
    </br>
  {% if type == "crypto" %}

  <table>
    <tr>
      <th>{{ asset.symbol }}</th>
    </tr>
    <tr>
      <td>Bid</td>
      <td>{{ asset.bid }}</td>
    </tr>
    <tr>
      <td>Ask</td>
      <td>{{ asset.ask }}</td>
    </tr>
    <tr>
      <td>Last</td>
      <td>{{ asset.last }}</td>
    </tr>
    <tr>
      <td>Base Volume</td>
      <td>{{ asset.base_volume }}</td>
    </tr>
    <tr>
      <td>quote_volume</td>
      <td>{{ asset.quote_volume }}</td>
    </tr>
    <tr>
  </table>

  {% else %}

  <table style="width:30%">
    <tr>
      <th>{{ asset.symbol }}</th>
    </tr>
    <tr>
      <td>Bid</td>
      <td>{{ asset.bid }}</td>
    </tr>
    <tr>
      <td>Ask</td>
      <td>{{ asset.ask }}</td>
    </tr>
    <tr>
      <td>Last</td>
      <td>{{ asset.last }}</td>
    </tr>
    <tr>
      <td>Volume</td>
      <td>{{ asset.volume }}</td>
    </tr>
    <tr>
    <tr>
      <td>High</td>
      <td>{{ asset.high }}</td>
    </tr>
    <tr>
      <td>Low</td>
      <td>{{ asset.low }}</td>
    </tr>
    <tr>
      <td>Open</td>
      <td>{{ asset.open_price }}</td>
    </tr>
    <tr>
      <td>Close</td>
      <td>{{ asset.close_price }}</td>
    </tr>
  </table>

  {% endif %}

  <form method="post" action = "{% url 'add_asset' %}">
    {% csrf_token %}
    <button
      name = "q"
      type="submit"
      class="button"
      value= "{{ asset.symbol }}"
      name="add">Add Asset

    </button>
   </form>
   </div>

{% endif %}




{% endblock %}
