{% extends "FAM/dashboard_base.html" %}
{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <script type="text/javascript">
      var labels = [], doughnutData = [];
      {% for exchange in exchange_balances %}
        labels.push("{{exchange.name}}");
        doughnutData.push({{exchange.percent}});
      {% endfor %}
  </script>
  <div class="right_col" role="main">

    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-3 col-sm-5 col-xs-6 tile_stats_count">
        <span class="count_top"> Total </span>
        <div class="count">${{ total|floatformat:2 }}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>5% </i> From last Week</span>
      </div>
      <div class="col-md-3 col-sm-5 col-xs-6 tile_stats_count">
        <span class="count_top"> ROI</span>
        <div class="count">$123.50</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>12% </i></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Portfolio Performance</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Market</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Coin</th>
                  <th>Price</th>
                  <th>Exchange</th>
                </tr>
              </thead>
              <tbody>
                {% for symbol in symbols %}
                <tr>
                  <td>{{symbol.symbol}}</td>
                  <td>${{symbol.price|floatformat:2}}</td>
                  <td>{{symbol.exchange}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Holdings</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <br>
          <div class="x_content">
            {% for balance in balances %}
            <div class="widget_summary">
              <div class="w_left w_20">
                <span>{{balance.symbol}}</span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{balance.percent}}%;"></div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>${{ balance.usd_value|floatformat:2 }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Exchange Breakdown</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <td>
                  <canvas class="canvasDoughnut" height="160" width="160" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    {% for exchange in exchange_balances %}
                    <tr>
                      <td>
                        <p><i class="fa fa-square {{exchange.color}}"></i>{{exchange.name}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </td>
              </tr>
            </table>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src={% static "dashboard/vendors/Chart.js/dist/Chart.min.js" %}></script>

{% endblock javascripts %}
