{% extends "FAM/dashboard_base.html" %}
{% load staticfiles %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Tax Documents</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row">

                <!-- <div class="clearfix"></div> -->

                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <div class="left col-xs-7">
                        <h2>Profit/Loss Sheet</h2>
                        <p><strong>Exchange: </strong> Binance </p>
                        <p><strong>From Date: </strong> 4/15/2017 </p>
                        <p><strong>To Date: </strong> 10/8/2018 </p>
                        <p><strong>Basis: </strong> $94.13 </p>
                        <p><strong>Gains: </strong> $12.89 </p>
                      </div>
                      <div class="right col-xs-5 text-center">
                        <p align="center"><i class="fa fa-file-text-o fa-5x"></i></p>
                      </div>
                    </div>
                    <div class="col-xs-12 bottom text-right">
                      <div class="col-xs-12 col-sm-12 emphasis">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <div class="left col-xs-7">
                        <h2>Profit/Loss Sheet</h2>
                        <p><strong>Exchange: </strong> Poloniex </p>
                        <p><strong>From Date: </strong> 4/15/2017 </p>
                        <p><strong>To Date: </strong> 10/8/2018 </p>
                        <p><strong>Basis: </strong> $379.46 </p>
                        <p><strong>Gains: </strong> $41.03 </p>
                      </div>
                      <div class="right col-xs-5 text-center">
                        <p align="center"><i class="fa fa-file-text-o fa-5x"></i></p>
                      </div>
                    </div>
                    <div class="col-xs-12 bottom text-right">
                      <div class="col-xs-12 col-sm-12 emphasis">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <div class="left col-xs-7">
                        <h2>Profit/Loss Sheet</h2>
                        <p><strong>Date: </strong> 11/15/2018 </p>
                      </div>
                      <div class="right col-xs-5 text-center">
                        <p align="center"><i class="fa fa-file-text-o fa-5x"></i></p>
                      </div>
                    </div>
                    <div class="col-xs-12 bottom text-right">
                      <div class="col-xs-12 col-sm-12 emphasis">
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div align="center" class="col-md-12 col-sm-12 col-xs-12">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      {{ form.exchange }}
                    </div>
                  </div>
                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      {{ form.api_key.errors }}
                      {{ form.api_key }}
                    </div>
                  </div>
                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      {{ form.secret_key.errors }}
                      {{ form.secret_key }}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" style="background-color:green;color:white;border:0">Generate New Document</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
