{% extends 'FAM/site_base.html' %}

{% block content %}

{% load staticfiles %}

   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src= {% static "base_site/images/hero-bg.jpg" %} data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">

            <div class="row contents">
                <div class="home-content-left">

                    <h1 data-aos="fade-up">
                        Financial Asset Management <br> 
                        ~ Made Easy ~<br>
                    </h1>

                    <div class="buttons">
                        <a href= {% url "signup" %} class="button stroke">
                            <span aria-hidden="true"></span>
                            Sign Up
                        </a>
                        <a href= {% url "login" %} class="button stroke">
                            <span aria-hidden="true"></span>
                            Login
                        </a>
                    </div>

                </div>

                <!-- <div class="home-image-right">
                    <img src="images/iphone-app-470.png"
                        srcset="images/iphone-app-470.png 1x, images/iphone-app-940.png 2x"
                        data-aos="fade-up">
                </div> -->
            </div>

        </div> <!-- end home-content -->

        <ul class="home-social-list">
            <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
        </ul>
        <!-- end home-social-list -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->


    <!-- about
    ================================================== -->
    <section id="about">

        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">Meet Our FAM</h1>
            </div>
            <div class="col-eight">
                <p class="lead" data-aos="fade-up">
                  FAM challenges the complicated status quo of investment tracking by providing users with the ability to track their assets in one place. Create your secure account, effortlessly manage your portfolio, and track cross-market investments; Join the FAM today.
                 </p>
            </div>

        </div>

        <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-window"></i></span>

                    <div class="service-content">

                        <h3>Cross-Market Investment Tracking</h3>

                        <p>With FAM, anyone can create a portfolio that tracks the most popular assets, stocks, options, and cryptocurrencies, in one place. Live data is used to accurately and efficiently monitor the performance of investments over-time.
                        </p>

                    </div>

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature" data-aos="fade-up">

                        <span class="icon"><i class="icon-window"></i></span>

                    <div class="service-content">

                        <h3>Security</h3>
                        <p>We value keeping your investment information private as much as you do. F.A.M ensures the security of users’ investment information by using the django authentication system. Your assets will be accessed and managed by you and secured by us.
                        </p>

                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-window"></i></span>

                    <div class="service-content">
                        <h3>Flexibility</h3>

                        <p>F.A.M. allows users to effortlessly manage and track their assets by providing an up to date balance and overview of their entire portfolio. Users can add and delete assets to see how they affect their overall performance without the fear of altering their actual holdings. The flexibility of F.A.M. provides a platform to test and analyze potential future investments.
                        </p>

                    </div>

                </div> <!-- /bgrid -->



        </div>  <!-- end about-bottom-image -->

    </section> <!-- end about -->


    <!-- Trending Section
    ================================================== -->
    <section id="testimonials">

        <div class="row">
            <div class="col-twelve">
                <h1 class="intro-header" data-aos="fade-up">Trending</h1>
            </div>
        </div>

        <div class="row owl-wrap">

            <div id="testimonial-slider"  data-aos="fade-up">

                <div class="slides owl-carousel">

                    <div>
                        <p>
                        Insert chart
                        </p>

                        <div class="testimonial-author">
                                <img src= {% static "base_site/images/appleLogo.png" %} alt="Author image">
                                <div class="author-info">
                                    Apple Inc.
                                </div>
                        </div>
                    </div>

                    <div>
                        <p>
                        insert chart
                        </p>

                        <div class="testimonial-author">
                                <img src= {% static "base_site/images/bitcoinLogo.png" %} alt="Author image">
                                <div class="author-info">
                                    Bitcoin
                                </div>
                        </div>
                    </div>

                    <div>
                        <p>
                        Insert Chart
                        </p>

                        <div class="testimonial-author">
                                <img src= {% static "base_site/images/amazonLogo.jpg" %} alt="Author image">
                                <div class="author-info">
                                    Amazon.com, inc
                                </div>
                        </div>
                    </div>

                </div> <!-- end slides -->

            </div> <!-- end testimonial-slider -->

        </div> <!-- end flex-container -->

    </section> <!-- end testimonials -->


{% endblock %}
