{% extends 'FAM/base.html' %}

{% block content %}
<div class = "investments-body">
  <br>
  </br>
  <br>
  </br>
  <div style="height:800;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 70%;">

    {{ linegraph|safe }}
    <br>
  </div>


<div class="symbol-pie">
  <div class = "symbol-d">
  {% if investments %}

    <div class="column">

       <div class="col-twelve">

          <h2>Investments</h2>

          {% for investment in investments %}

            {% for key,val in investment.items %}

              <ul class="stats-tabs">
                <li><a href= {% url "performance" key %}> {{ key }} <em>Symbol</em></a></li>
                <li><a> {{ val }} <em>Performance</em></a></li>
              </ul>

           {% endfor %}

         {% endfor %}

        </div>

      </div> <!-- end row -->
    </div>
<div class="pie-d">
      <div style="height:600;
              display: block;
              margin-left: auto;
              padding-right: 20rem;
              width: 40%;">

              {{ piegraph|safe }}
              <br>
  </div>

</div>
    </div>
    <!-- end symbol-pie -->


  {% else %}
    <h3>You are not tracking any assets.</h3>
  {% endif %}
</div>
{% endblock %}
