{% extends 'FAM/base.html' %}

{% block content %}
<div class = "investments-body">
  <div style="height:500;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;">
    {{ graph|safe }}
  </div>
  {% if type == "crypto" %}

    <div class="row half-bottom">

       <div class="col-twelve">

          <h3>{{ asset.symbol }}</h3>

          <ul class="stats-tabs">
            <li><a> {{ investment.asset.bid }} <em>Bid</em></a></li>
            <li><a> {{ investment.asset.ask }} <em>Ask</em></a></li>
            <li><a> {{ investment.asset.last }} <em>Last</em></a></li>
            <li><a> {{ investment.asset.base_volume }} <em>Base Volume</em></a></li>
            <li><a> {{ investment.asset.quote_volume }} <em>Quote Volume</em></a></li>
            <li><a> {{ investment.asset.high }} <em>High</em></a></li>
            <li><a> {{ investment.asset.low }} <em>Low</em></a></li>
        </ul>

       </div>

    </div> <!-- end row -->

  {% else %}

    <div class="row half-bottom">

       <div class="col-twelve">

          <h3>{{ asset.symbol }}</h3>

          <ul class="stats-tabs">
           <li><a> {{ investment.asset.bid }} <em>Bid</em></a></li>
           <li><a> {{ investment.asset.ask }} <em>Ask</em></a></li>
           <li><a> {{ investment.asset.last }} <em>Last</em></a></li>
           <li><a> {{ investment.asset.volume }} <em>Volume</em></a></li>
           <li><a> {{ investment.asset.high }} <em>High</em></a></li>
           <li><a> {{ investment.asset.low }} <em>Low</em></a></li>
           <li><a> {{ investment.asset.open_price }} <em>Open</em></a></li>
           <li><a> {{ investment.asset.close_price }} <em>Close</em></a></li>
        </ul>

       </div>

    </div> <!-- end row -->

  {% endif %}

  <form method="post" action = "{% url 'delete_asset' %}">
    {% csrf_token %}
    <button
      name = "q"
      type="submit"
      class="button"
      value= "{{ investment.asset.symbol }}"
      name="delete">Remove Asset
    </button>
   </form>
</div>

{% endblock %}
