<!doctype html>

<html class="no-js" lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> ABOUT US </title>

    <link rel="stylesheet"

      href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <link rel="stylesheet" href="main.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>

  <body>
    <div class="top-bar">

      <div class="top-bar-left">

        <h1 style="align:center;"><img src="Logo.png" height="74px" width="74px"> </li>

      </div>

      <div class = "top-bar-right">

        <div class = "menu">
          <ul>

            <li><a>Investments</a></li>
            <li> <a>Trending</a> </li>
            <li><a>Browse</a> </li>
            <li> <a href="C:\Users\Emma\Desktop\live website\aboutus.html">About Us</a></li>
            <li> <a>Support</a> </li>
            <li><a> <img src="glass.png" height="30px" width="30px"></a></li>
            <li> <a><img src="user.png" height="30px" width="30px"></a>
              <ul>
                <li><a> Login </a> </li>
                <li><a> Sign up </a></li>
              </ul>

            </li>
          </ul>
        </div>
      </div>

    </div>

    </div>

<div class="bio">
  <h1>Who Are We?</h1>
  <P>We are a bunch of assholes with computers who like investing shit</p>


</body>
